@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #005A9C;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #005A9C;
    --foreground: #ffffff;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #054A85;
  background: linear-gradient(135deg, rgba(5, 74, 133, 1) 0%, rgba(9, 9, 121, 1) 59%, rgba(123, 32, 110, 1) 100%);
  color: #fff;
}
